@import url('https://fonts.googleapis.com/css2?family=Miriam+Libre:wght@400;700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
    font-family: "Roboto", Arial, "Helvetica Neue", sans-serif;
    color: #1e1e1e;
}

.metadata {
    padding: 1rem;
    border: 1px solid black;
}

.patterns-list {
    margin-top: 1.5rem;
}

/* Hide email from spambots */
.homepage-email::after{ content:'bettertexts@pm.me'; }

main ul, main ol {
    margin-top: 0.5rem;
}


.note .header strong {
    margin-top: 0;
    padding-left: 0.35rem;
}

.note .header {
    display: flex;
    align-items: center;
}

.note .header .sign {
    height: 1.25rem;
    width: 1.25rem;
    position: relative;
    bottom: 3px;
}

input#search {
    font-family: "Miriam Libre", sans-serif;
    padding-left: 0.8rem;
}

h1 {
    padding: 1rem;
    padding-left: 0;
}

h1,
h2,
h3,
h4 {
    font-family: "Miriam Libre", sans-serif;
}

h5 {
    font-family: "Roboto", sans-serif;
}

a {
    -webkit-tap-highlight-color: rgba(30, 30, 30, 0.3);
} 
